.reviews__container {
    width: 100vw;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    .reviews__container {
        padding-left: 20px;
        padding-right: 20px;
    }
}
